<md-dialog aria-label="List dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Share</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-list>
      <md-list-item ng-href="{{mailTemplate}}" ng-click="cancel()">
        <md-button class="md-icon-button" >
          <md-tooltip md-direction="botton">Share by email</md-tooltip>
          <md-icon md-font-set="material-icons" class="ee-icon"> mail </md-icon>
        </md-button>
        <p>Send email</p>
      </md-list-item>
    </md-list>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="cancel()" class="md-primary">Cancle</md-button>
  </md-dialog-actions>
</md-dialog>
