html, body {
  font-size: 10px !important;  /* 1rem == 10px */
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

.ee-icon {
  padding-right: 6px;
}

.ee-button {
  padding: 6px 12px;
}

.white {
  color: #fff;
}

.light-gray {
  color: #969696;
}

.gray {
  color: #77909C;
}

.dark-gray {
  color: #6d6e70;
}

.blue {
  color: #0273D4;
}

.light-blue {
  color: #2B85E7;
}

.red {
  color: #bb2322;
}
