header {
  background-color: #bb2322;
  display: block;
  width: 100%;
  height: 48px;
}

.header-row-wrapper,
.footer-row,
.footer-copyright {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-row-wrapper {
  height: 48px;
}

.logo-wrapper {
  a {
    transition: opacity .2s;

    &:hover {
      opacity: .7;
    }
  }
}

.logo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  border-radius: 50%;
  background-color: #fff;
  margin: 6px 0;

  a {
    height: 24px;
  }
}

.logo-text {
  font-size: 2rem;
  padding-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text a {
  color: #fff;
}

.navbar {
  margin-left: 48px;
}

.navbar-nav {
  list-style: none;
  height: 100%;

  li {

    &.active a {
      opacity: 1;
    }

    a {
      display: flex;
      align-items: center;
      height: 100%;
      font-size: 1.4rem;
      color: #fff;
      opacity: .7;
      transition: opacity .2s;
      padding: 0 24px;

      &:hover {
        opacity: 1;
      }
    }
  }
}

footer {
  color: #fff;
  display: block;
  font-size: 1.4rem;
  line-height: 1.4;

  h3 {
    font-size: 1.6rem;
    margin-bottom: 12px;
  }
}

.footer-company-bio,
.footer-useful-links,
.footer-contact-us {
  margin-right: 24px;
  padding: 12px 0;
}

.footer-row-wrapper {
  background: #808285;
}

.footer-copyright-wrapper {
  background-color: #6d6e70;
  p {
    padding: 12px 0;
    opacity: .7;
  }
}

.headline {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
  padding: 36px 0;
}

.hero-wrapper {
  background: url('../images/bg.jpg') no-repeat left top;
  /*background-image: url('../images/bg.jpg');*/
}

.hero {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
  padding-bottom: 24px;

  .list {
    padding-bottom: 36px;
  }

  .ee-button {
    background-color: #bb2322 !important;
  }
}

.home-view {

  .sub-nav-wrapper {
    background-color: #eceff1;
  }

  .sub-nav {
    max-width: 1280px;
    align-items: stretch;
    height: 174px;
    margin: 0 auto;
  }

  .sub-nav-item {
    box-sizing: border-box;
    flex: 1;
    width: 25%;
    height: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;

    &:last-child {
      padding-right: 0;
    }

    md-card {
      margin: 0;
      height: 100%;

      .md-headline {
        color: #bb2322;
      }

      .md-subhead {
        color: #6d6e70 !important;
      }
    }
  }

  .dev-wrapper {
    padding: 12px 0;
  }

  .dev {
    max-width: 1280px;
    margin: 0 auto;
  }

  .dev-image {
    margin-right: 32px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .dev-text {
    h2 {
      font-size: 2.4rem;
      padding-top: 12px;
      padding-bottom: 24px;
    }

    ul {
      padding: 24px 0;
    }
  }
}
