html, body {
  font-size: 10px !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  background-color: #bb2322;
  /*background-color: #3367d6;*/
  height: 48px;
}

.header-row-wrapper {
  height: 48px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo-wrapper {
  a {
    transition: opacity .2s;

    &:hover {
      opacity: .7;
    }
  }
}

.logo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  border-radius: 50%;
  background-color: #fff;
  margin: 6px 0;

  a {
    height: 24px;
  }
}

.logo-text {
  padding-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text a {
  color: #fff;
}

.navbar {
  margin-left: 48px;
}

.navbar-nav {
  list-style: none;
  height: 100%;

  li {

    &.active a {
      opacity: 1;
    }

    a {
      display: flex;
      align-items: center;
      height: 100%;
      font-size: 1.4rem;
      color: #fff;
      opacity: .7;
      transition: opacity .2s;
      padding: 0 24px;

      &:hover {
        opacity: 1;
      }
    }
  }
}
