html, body {
  font-family: $font-family;
  font-size: $font-size;
}

.ee-product-name {
  font-size: rem(2);
  line-height: $eagleeye-header-content-height;
}

.ee-nav-item {
  line-height: $eagleeye-header-content-height;
}
