.ee-button--accent {
  color: $color-accent;
}

.ee-button--primary {
  color: $color-primary;
}

.ee-button--secondary {
  color: $color-secondary;
}

.ee-button--raised {
  background-color: $color-accent !important;
  color: #fff !important;
  margin-top: 0;
  margin-bottom: 0;
}
