.ee-progress-circular path {
  stroke: $color-secondary;
}

.ee-text-black-primary {
  color: $color-black-primary;
}

.ee-text-black-secondary {
  color: $color-black-secondary;
}

.ee-text-black-disabled {
  color: $color-black-disabled;
}

.ee-text-white-primary {
  color: $color-white-primary;
}

.ee-text-white-secondary {
  color: $color-white-secondary;
}

.ee-text-white-disabled {
  color: $color-white-disabled;
}
