.ee-charts-view {
  background-color: $color-gray-light-light;

  .ee-charts-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: $eagleeye-max-width;
    padding: $eagleeye-content-padding-secondary $eagleeye-content-padding-primary;
  }

  md-toolbar {
    background-color: #fff;
    height: $eagleeye-header-height;
    min-height: $eagleeye-header-height;
    max-height: $eagleeye-header-height;

    .md-button {
      color: $color-secondary;  // set `md-ink-ripple` color
    }

    .ee-icon {
      color: $color-accent;

      &:hover {
        color: $color-accent-dark;
      }
    }
  }

  md-content {
    background-color: #fff;

    .ee-chart-status {
      span {
        padding-right: $eagleeye-content-padding-secondary;
      }
    }
  }
}
