.ee-chart-view {
  background-color: $color-gray-light-light;

  .ee-chart-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: $eagleeye-max-width;
    padding: $eagleeye-chart-top-bottom-content-padding $eagleeye-chart-left-right-content-padding;
  }

  md-card {
    margin: 0;
  }

  md-toolbar {
    background-color: #fff;
    height: $eagleeye-header-height;
    min-height: $eagleeye-header-height;
    max-height: $eagleeye-header-height;

    h2 {
      color: $color-gray-dark;
    }

    .md-button {
      color: $color-secondary;  // set `md-ink-ripple` color
    }

    .ee-icon {
      color: $color-gray;
    }
  }

  md-content {
    background-color: #fff;
  }
}
