// Typography
// ------------------------------

// 'Roboto' is default font family of angular material
$font-family:     Roboto, 'Helvetica Neue', sans-serif !default;
$font-size:       10px !default;
$font-size-body:  14px;


// Text Opacity
// ------------------------------
$text-opacity-dark-text-primary:     0.87;
$text-opacity-dark-text-secondary:   0.54;
$text-opacity-dark-text-disabled:    0.38;
$text-opacity-dark-text-dividers:    0.12;
$text-opacity-light-text-primary:    1   ;
$text-opacity-light-text-secondary:  0.7 ;
$text-opacity-light-text-disabled:   0.5 ;
$text-opacity-light-text-dividers:   0.12;


// Colors
// ------------------------------
$color-primary-light:     #EF5350;  // R: 400
$color-primary:           #F44336;  // R: 500
$color-primary-dark:      #D32F2F;  // R: 700
$color-secondary:         #EF5350;  // R: 400
$color-accent-light:      #80D8FF;  // Light B: A100
$color-accent:            #00B0FF;  // Light B: A400
$color-accent-dark:       #0091EA;  // Light B: A700
$color-gray-light:        #EEEEEE;  // Grey: 200
$color-gray:              #9E9E9E;  // Grey: 500
$color-gray-dark:         #616161;  // Grey: 700

$color-black-primary:     rgba(  0,   0,   0, $text-opacity-dark-text-primary);
$color-black-secondary:   rgba(  0,   0,   0, $text-opacity-dark-text-secondary);
$color-black-disabled:    rgba(  0,   0,   0, $text-opacity-dark-text-disabled);
$color-black-dividers:    rgba(  0,   0,   0, $text-opacity-dark-text-dividers);
$color-white-primary:     rgba(255, 255, 255, $text-opacity-light-text-primary);
$color-white-secondary:   rgba(255, 255, 255, $text-opacity-light-text-secondary);
$color-white-disabled:    rgba(255, 255, 255, $text-opacity-light-text-disabled);
$color-white-dividers:    rgba(255, 255, 255, $text-opacity-light-text-dividers);


// CSS3 Transitions
// ------------------------------
$eagleeye-transition-duration:         0.2s;
$eagleeye-transition-timing-function:  ease;


// Layout
// ------------------------------

// borrow from angular material
$baseline-grid:                              8px !default;
$layout-gutter-width:                        ($baseline-grid * 2) !default;
$layout-breakpoint-xs:                       600px !default;
$layout-breakpoint-sm:                       960px !default;
$layout-breakpoint-md:                       1280px !default;
$layout-breakpoint-lg:                       1920px !default;

// eagleeye vars
$eagleeye-max-width:                         1400px;
$eagleeye-layout-padding:                    8px;
$eagleeye-content-padding-vertical:          16px;
$eagleeye-content-padding-horizontal:        24px;
$eagleeye-content-padding-large-vertical:    80px;
$eagleeye-content-padding-large-horizontal:  80px;


// Layout: Header
// https://material.google.com/layout/structure.html#structure-app-bar
$eagleeye-header-height:                      48px;
$eagleeye-header-content-height:              40px;
$eagleeye-header-left-content-padding:        $eagleeye-content-padding-large-horizontal;
$eagleeye-header-left-right-content-padding:  $eagleeye-content-padding-horizontal;
$eagleeye-header-top-bottom-content-padding:  ($eagleeye-header-height - $eagleeye-header-content-height) / 2;


// Layout: Dialog
// ------------------------------
$eagleeye-footer-height:                      48px;


// Layout: Dialog
// ------------------------------
$eagleeye-dialog-content-padding:                         24px;
$eagleeye-dialog-content-body-top-bottom-content-margin:  24px;


// Layout: Google Chart
// ------------------------------
$eagleeye-google-chart-height:                      350px;
$eagleeye-google-chart-small-height:                300px;
$eagleeye-google-chart-left-right-content-padding:  16px;  // align wmd-toolbar


// Layout: List
// ------------------------------
$eagleeye-list-item-left-right-padding:               ($baseline-grid * 2);
$eagleeye-list-item-content-padding:                  $baseline-grid;
$eagleeye-list-item-col-1-width:                      50px;
$eagleeye-list-item-col-1-width-narrow:               40px;


// Page: home
// ------------------------------
$eagleeye-home-nav-card-height:  175px;
