// Typography
// ------------------------------

// 'Roboto' is default font family of angular material
$font-family: Roboto, 'Helvetica Neue', sans-serif !default;
$font-size: 10px !default;


// Colors
// ------------------------------
$color-red-ra          : #bb2322;
$color-light-gray-ra   : #c8c8c8;
$color-gray-ra         : #808285;
$color-dark-gray-ra    : #555555;
