a {
  text-decoration: none;
}

.ee-icon {
  margin-right: 6px;
}

.ee-button {
  padding: 6px 12px;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.26) !important;
  }
}

.ee-button-box-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.ee-card-box-shadow {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.ee-progress-circular path {
  stroke: $color-secondary;
}
