.ee-footer {
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.ee-footer__wrapper {
  background: linear-gradient($color-gray, $color-gray-dark);
}

.ee-footer__content {
  height: $eagleeye-footer-height;
  margin: 0 auto;
  max-width: $eagleeye-max-width;
  padding: 0 $eagleeye-header-left-right-content-padding;
}
