.ee-footer {
  color: $color-gray;
}

.ee-footer__content {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $eagleeye-max-width;
  padding: $eagleeye-content-padding-vertical $eagleeye-content-padding-horizontal;

  p {
    padding-top: $eagleeye-layout-padding;
  }
}
