.ee-google-chart {
  display: block;
  margin: 0;
  padding: 0 $eagleeye-google-chart-left-right-content-padding;
  height: $eagleeye-google-chart-height;

  & > div {
    height: 100%;
  }
}

.ee-chart-set-column-view .ee-google-chart {
  height: $eagleeye-google-chart-small-height;
}
