.ee-google-chart {
  display: block;
  height: $eagleeye-google-chart-height;

  & > div {
    height: 100%;
  }
}

.ee-chart-set-column-view .ee-google-chart {
  height: $eagleeye-google-chart-small-height;
}
