// logo
// ------------------------------
.ee-header {
  background-color: $color-primary-light;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 30;
}

.ee-header__wrapper {
  margin: 0 auto;
  height: $eagleeye-header-height;
  max-width: $eagleeye-max-width;
  padding: $eagleeye-header-top-bottom-content-padding $eagleeye-header-left-right-content-padding;
}

.ee-header__logo {
  a {
    transition: opacity $eagleeye-transition-duration $eagleeye-transition-timing-function;

    &:hover {
      opacity: $text-opacity-light-text-secondary;
    }
  }
}

.ee-header__logo__icon {
  background-color: #fff;
  border-radius: 50%;
  width: $eagleeye-header-content-height;
  height: $eagleeye-header-content-height;
  margin-right: ($eagleeye-header-left-content-padding - $eagleeye-header-left-right-content-padding - $eagleeye-header-content-height);

  img {
    width: 70%;
    margin: ($eagleeye-header-content-height * (1 - 0.7) / 2);
  }
}

.ee-header__logo__text {
  color: #ffffff;
  height: $eagleeye-header-content-height;
}


// nav
// -----------------------------
.ee-header__nav {
  list-style: none;
  height: $eagleeye-header-content-height;
  margin-left: $eagleeye-header-height;
}

.ee-header__nav__item {
  color: #fff;
  display: inline-block;
  height: $eagleeye-header-content-height;
  opacity: $text-opacity-light-text-secondary;
  transition: opacity $eagleeye-transition-duration $eagleeye-transition-timing-function;
  padding: 0 $eagleeye-header-left-right-content-padding;

  &:hover {
    opacity: $text-opacity-light-text-primary;
  }
}

.ee-header__nav__item--active {
  opacity: $text-opacity-light-text-primary;
}


// feedback
// -----------------------------
.ee-header__feedback {
  margin-left: auto;
}
