// Logo area
// ------------------------------
.header {
  background-color: $color-primary;
}

.header-row-wrapper {
  margin: 0 auto;
  height: $eagleeye-header-height;
  max-width: $eagleeye-max-width;
  padding: $eagleeye-header-top-bottom-content-padding $eagleeye-header-left-right-content-padding;
}

.logo-wrapper {
  a {
    transition: opacity $eagleeye-transition-duration $eagleeye-transition-timing-function;

    &:hover {
      opacity: $text-opacity-light-secondary;
    }
  }
}

.logo-icon {
  background-color: #fff;
  border-radius: 50%;
  width: $eagleeye-header-content-height;
  height: $eagleeye-header-content-height;
  margin-right: $eagleeye-header-letft-content-padding -
                $eagleeye-header-left-right-content-padding -
                $eagleeye-header-content-height;

  img {
    width: 70%;
    margin: $eagleeye-header-content-height * (1 - 0.7) / 2;
  }
}

.logo-title {
  color: #ffffff;

  div {
    height: $eagleeye-header-content-height;
  }
}


// Nav area
// -----------------------------
.navbar {
  margin-left: $eagleeye-header-height;
}

.ee-navbar {
  list-style: none;
  height: $eagleeye-header-content-height;
  margin-left: $eagleeye-header-height;

  li {
    height: 100%;

    &.active a {
      opacity: $text-opacity-light-primary;
    }

    a {
      color: #fff;
      opacity: $text-opacity-light-secondary;
      transition: opacity $eagleeye-transition-duration $eagleeye-transition-timing-function;
      padding: 0 $eagleeye-header-left-right-content-padding;

      &:hover {
        opacity: $text-opacity-light-primary;
      }
    }
  }
}

.ee-nav-item {
  display: inline-block;
}
