// Normal list
.ee-list-item {
  box-sizing: border-box;
  color: $color-black-primary;
  padding: 0 $eagleeye-list-left-right-content-padding;
  transition: background-color $eagleeye-transition-duration $eagleeye-transition-timing-function;

  &:hover {
    background-color: $color-black-dividers;
  }

  .ee-list-item-content-container {
    box-sizing: border-box;
    height: $eagleeye-list-container-height;
    padding: $eagleeye-list-container-top-bottom-content-padding 0;
  }

  .ee-list-item-col-1 {
    width: $eagleeye-list-item-col-1-left-margin;
  }

  .ee-list-item-col-2 {
    margin-left: $eagleeye-list-item-col-2-left-margin;

    .ee-list-item-row-1 {
      margin-bottom: $eagleeye-list-container-top-bottom-content-padding;

      p {
        margin-left: 32px;
      }
    }

    .ee-list-item-row-2 {
      p {
        @include text-ellipsis(2, 14px, 20 / 14);
      }
    }
  }

  .ee-list-item-col-3 {
    .md-toolbar-tools {
      padding: 0;
    }
  }

  md-toolbar {
    background-color: transparent !important;
  }
}


// Narrow list
.ee-list-item.ee-list-item-narrow {
  .ee-list-item-content-container {
    height: 60px;
    padding: 0;
  }

  .ee-list-item-col-1 {
    width: 40px;
  }

  .ee-list-item-col-2 {
    margin-left: 0;

    .ee-list-item-row-1 {
      margin-bottom: 2px;
    }

    .ee-list-item-row-2 {
      p {
        @include text-ellipsis(1, 14px, 20 / 14);
      }
    }
  }

  .ee-list-item-col-3 {
    md-checkbox {
      margin-bottom: 0;
    }
  }
}
