.ee-view__wrapper {
  background-color: #fff;
}

.ee-view__content-container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $eagleeye-max-width;
  padding: $eagleeye-content-padding-vertical $eagleeye-content-padding-horizontal;
}

.ee-view__chart-list-container {
  height: 650px;
}

.ee-view--column {
  .ee-view__content-container {
    max-width: none;
    padding: 0;
  }

  .ee-view__header-content {
    padding-left: $eagleeye-layout-padding;
    padding-right: $eagleeye-layout-padding;
  }

  .ee-view__header-content:last-child {
    display: none;
  }
}


@media (max-width: $layout-breakpoint-sm - 1) {
  .ee-view__content-container {
    padding-top: ($eagleeye-content-padding-vertical / 2);
    padding-bottom: ($eagleeye-content-padding-vertical / 2);
  }
}
