<div class="ee-view">
  <md-content class="ee-view__content-container ee-content--transparent">
    <div md-whiteframe="1" class="ee-content">
      <md-toolbar class="ee-toolbar">
        <div class="md-toolbar-tools">
          <h2 class="ee-text-black-primary">All chart sets list</h2>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Refresh">
            <md-tooltip md-direction="botton">Refresh</md-tooltip>
            <md-icon md-font-set="material-icons" class="ee-icon ee-icon--accent" ng-click="ctrl.loadChartList()"> refresh </md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Create a new chart set" ui-sref="createChartSet">
            <md-tooltip md-direction="botton">Create a new chart set</md-tooltip>
            <md-icon md-font-set="material-icons" class="ee-icon ee-icon--accent"> create </md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-divider></md-divider>
      <div layout="row" layout-padding layout-align="center center" ng-if="ctrl.isLoading">
        <md-progress-circular class="ee-progress-circular" md-diameter="40"></md-progress-circular>
      </div>
      <div layout="row" layout-padding layout-align="center center" ng-if="!ctrl.isLoading && ctrl.chartSetList.length === 0">
        <md-button class="md-fab" aria-label="Create a new chart set" ui-sref="createChartSet">
          <md-icon md-font-set="material-icons"> add </md-icon>
        </md-button>
      </div>
      <div class="ee-list">
        <div class="ee-list__item" ng-repeat="chartset in ctrl.chartSetList track by chartset._id">
          <a ui-sref="chartSet({ id: chartset.friendlyUrl || chartset._id })">
            <div class="ee-list__item__content" layout="row" layout-align="start center">
              <div class="ee-list__item__content__col-1 ee-list__item__index ee-text-black-primary" flex="none">
                {{$index + 1}}
              </div>
              <div class="ee-list__item__content__col-2" flex layout="column" layout-align="space-between start">
                <div class="ee-list__item__content__col-2__row-1">
                  <h3 class="ee-list__item__title ee-text-black-primary">{{chartset.title}}</h3>
                </div>
                <div class="ee-list__item__content__col-2__row-2 ee-text-black-secondary">
                  <p>{{chartset.description}}</p>
                </div>
              </div>
              <div flex="none">
                <md-toolbar class="ee-toolbar ee-layout--transparent">
                  <div class="md-toolbar-tools ee-layout--no-padding">
                    <md-menu>
                      <md-button aria-label="Tools menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon md-font-set="material-icons" class="ee-icon ee-icon--accent"> more_vert </md-icon>
                      </md-button>
                      <md-menu-content width="3">
                        <md-menu-item>
                          <md-button ui-sref="chartSetSettings({ id: chartset.friendlyUrl || chartset._id })">
                            <md-icon md-font-set="material-icons" class="ee-icon ee-icon--accent"> settings </md-icon> <span md-menu-align-target>Settings</span></md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button ng-click="ctrl.showConfirm($event, chartset._id, chartset.title)">
                            <md-icon md-font-set="material-icons" class="ee-icon ee-icon--accent"> delete </md-icon> <span md-menu-align-target>Delete</span></md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </div>
                </md-toolbar>
              </div>
            </div>
          </a>
          <md-divider ng-hide="$last"></md-divider>
        </div>
      </div>
    </div>
  </md-content>
</div>
