<div>
    <md-toolbar style="color:write;background-color:rgba(0, 0, 0, 0.18)">
    <div class="md-toolbar-tools">
        <h3>Charts List </h3>
    </div>
    </md-toolbar>

    <md-button class="md-primary">
    <p ui-sref="createChart" > Create chart + </p>
    </md-button>
      
    <md-divider></md-divider>
    <div>
        <div style="width:40%;">
        	<md-list-item  ui-sref="chart({ id: chart._id })" ng-click="null" ng-repeat="chart in charts.chartList">
        	    <p> {{ chart.options.title }} </p>
        	    <md-button ><a ui-sref="chart({ id: chart.friendlyUrl })">{{chart.friendlyUrl}}</a></md-button>
        	    <md-divider></md-divider>
        	</md-list-item>
        </div>
        <!--div style="width:40%;">
           <ee-google-chart
            chart-type="charts.chartList[0].chartType"
            chart-options="charts.chartList[0].options"
            chart-data-table="charts.chartList[0].datatable">
           </ee-google-chart>
        </div-->
    </div>

    <md-divider></md-divider>
</div>
