<div>
  <h2>Create a new chart</h2>

  <section>
    <h3>Chart type</h3>

    <p ng-repeat="chartTypeOption in newChart.chartTypeOptions">
      <input type="radio" name="chartTypeOption" ng-value="chartTypeOption" ng-model="newChart.selectedChartTypeOption"> {{chartTypeOption.label}}
    </p>
  </section>

  <section>
    <h3>Chart options</h3>
    Chart title: <input type="text" ng-model="newChart.settings.title"> <br>
    h-axis title: <input type="text" ng-model="newChart.settings.hAxisTitle"> <br>
    v-axis title: <input type="text" ng-model="newChart.settings.vAxisTitle"> <br>
  </section>

  <section>
    <h3>Major axis data type</h3>
    <a href="https://developers.google.com/chart/interactive/docs/customizing_axes#terminology" target="_blank">What's major axis?</a><br>

    <input type="radio" name="majorAxisDataType" value="string" ng-model="newChart.settings.majorAxisDataType"> string<br>
    <input type="radio" name="majorAxisDataType" value="number" ng-model="newChart.settings.majorAxisDataType"> number<br>
    <input type="radio" name="majorAxisDataType" value="date" ng-model="newChart.settings.majorAxisDataType"> date<br>
    <input type="radio" name="majorAxisDataType" value="datetime" ng-model="newChart.settings.majorAxisDataType"> datetime<br>
  </section>

  <section>
    <span>Friendly url: s-</span><input type="text" ng-model="newChart.settings.friendlyUrl">
  </section>

  <section>
    <ee-google-chart-sample
      chart-type="newChart.selectedChartTypeOption.construcorName"
      chart-options="newChart.chartOptions"
      chart-major-axis-data-type="newChart.settings.majorAxisDataType">
    </ee-google-chart-sample>
  </section>

  <section>
    <button ng-click="newChart.createChart()">Create Chart</button>
  </section>

  <section>{{newChart.settings}}</section>
</div>
