<div>
  <section>
    Title: <input type="text" ng-model="chartset.settings.title">
    <br>
    Description: <input type="text" ng-model="chartset.settings.description">
    <br>
    Friendly URL: <input type="text" ng-model="chartset.settings.friendlyUrl">
  </section>
  <section>
    Charts:
    <div>
      <p ng-repeat="chartId in chartset.settings.charts">
        {{chartId}} <button ng-click="chartset.deleteChart(chartId)">Delete</button>
      </p>
    </div>
    <h3>Chart list</h3>
    <ul>
      <li ng-repeat="chart in chartset.chartList">
        {{chart.options.title}} <button ng-click="chartset.addToChartSet(chart)">Add to set</button>
      </li>
    </ul>
  </section>
  <section>
    <button ng-click="chartset.updateChartSetById()">Save</button>
    <button ng-click="chartset.deleteChartSetById()">Delete It</button>
  </section>
</div>
