<div class="ee-chart-sets-view">
  <div class="ee-chart-sets-wrapper">
    <md-card>
      <md-toolbar>
        <div class="md-toolbar-tools">
        <h2 class="ee-text-black-primary">All chart sets list</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Refresh">
          <md-tooltip md-direction="botton">Refresh</md-tooltip>
          <md-icon md-font-set="material-icons" class="ee-icon" ng-click="chartsets.getChartSetsList()"> refresh </md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Add" ui-sref="createChartSet">
          <md-tooltip md-direction="botton">Create New ChartSet</md-tooltip>
          <md-icon md-font-set="material-icons" class="ee-icon"> add_circle_outline </md-icon>
        </md-button>
      </div>
      </md-toolbar>
      <md-divider></md-divider>
      <div class="ee-list-item" ng-repeat="chartset in chartsets.chartSetList track by chartset._id">
        <a href="javascript:;" ng-click="chartsets.openChartSets(chartset._id, chartset.friendlyUrl)">
          <div class="ee-list-item-content-container" layout="row" layout-align="start center">
            <div class="ee-list-item-col-1 ee-list-item-index ee-text-black-primary" flex="none">
              {{$index + 1}}
            </div>
            <div class="ee-list-item-col-2" flex="auto" layout="column" layout-align="space-between start">
              <div class="ee-list-item-row-1" flex="auto" layout="row" layout-align="start center">
                <h3 class="ee-text-black-primary ee-list-item-title">{{chartset.title}}</h3>
                <p class="ee-text-black-secondary">
                  <md-icon md-font-set="material-icons" class="ee-icon"> access_time </md-icon> <span>{{chartset.lastUpdateTimestamp | date: 'medium'}}</span>
                </p>
              </div>
              <div class="ee-list-item-row-2 ee-text-black-secondary" flex="auto">
                <p>{{chartset.description}}</p>
              </div>
            </div>
            <div class="ee-list-item-col-3" flex="none">
              <md-toolbar>
                <div class="md-toolbar-tools">
                  <md-button class="md-icon-button" aria-label="Settings" ng-click="chartsets.goToSettings($event, chartset._id, chartset.friendlyUrl)">
                    <md-tooltip md-direction="botton">Settings</md-tooltip>
                    <md-icon md-font-set="material-icons" class="ee-icon"> settings </md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="Delete" ng-click="chartsets.showConfirm($event, chartset._id)">
                    <md-tooltip md-direction="botton">Delete</md-tooltip>
                    <md-icon md-font-set="material-icons" class="ee-icon"> delete </md-icon>
                  </md-button>
                </div>
              </md-toolbar>
            </div>
          </div>
        </a>
        <md-divider ng-hide="$last"></md-divider>
      </div>
      <!--
  <md-list-item ng-click="chartsets.openChartSets(chartset._id, chartset.friendlyUrl)" ng-repeat="chartset in chartsets.chartSetList">
      <p> {{chartset.title}} </p>

      <md-button class="md-icon-button" aria-label="Settings" ui-sref="chartSetSettings({ id: chartset._id })">
        <md-tooltip md-direction="botton">Edit</md-tooltip>
        <md-icon md-font-set="material-icons" class="ee-icon"> edit </md-icon>
      </md-button>

      <md-button class="md-icon-button" aria-label="Delete" ng-click="chartsets.showConfirm($event,chartset._id)">
        <md-tooltip md-direction="botton">Delete</md-tooltip>
        <md-icon md-font-set="material-icons" class="ee-icon"> delete </md-icon>
      </md-button>


      <md-divider></md-divider>
  </md-list-item>

    <md-divider></md-divider> -->
    </md-card>
  </div>
</div>
