<div class="ee-chart-view">
  <div class="ee-chart-wrapper">
   <md-card>
    <md-toolbar style="color:write;background-color:rgba(0, 0, 0, 0.18)">
    <div class="md-toolbar-tools">
        <h2>Charts List </h2>
        <md-button class="md-icon-button" aria-label="Add" ui-sref="createChart">
            <md-tooltip md-direction="botton">Create New Chart</md-tooltip>
            <md-icon md-font-set="material-icons" class="ee-icon"> add_circle_outline </md-icon>
        </md-button>
    </div>
    </md-toolbar>
      
    <md-divider></md-divider>
    <div>
        <div>
        	<md-list-item  ng-click="charts.openCharts(chart._id, chart.friendlyUrl)" ng-repeat="chart in charts.chartList">
        	    <p> {{ chart.options.title }} </p>
                <md-button class="md-icon-button">
                    <md-tooltip md-direction="botton">Edit</md-tooltip>
                    <md-icon  md-font-set="material-icons" class="ee-icon"> edit </md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Delete" ng-click="charts.showConfirm($event, chart._id)">
                    <md-tooltip md-direction="botton">Delete</md-tooltip>
                    <md-icon md-font-set="material-icons" class="ee-icon"> delete </md-icon>
                </md-button>
        	    <md-divider></md-divider>
        	</md-list-item>
        </div>
        <!--div style="width:40%;">
           <ee-google-chart
            chart-type="charts.chartList[0].chartType"
            chart-options="charts.chartList[0].options"
            chart-data-table="charts.chartList[0].datatable">
           </ee-google-chart>
        </div-->
    </div>

    <md-divider></md-divider>
    </md-card>
    </div>
</div>
