<div class="ee-view">
  <div class="ee-view__content-container">
    <md-card class="ee-layout--no-margin">
      <md-toolbar class="ee-toolbar">
        <div class="md-toolbar-tools">
          <h3 class="ee-text-black-primary">Edit chart</h3>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Help">
            <md-tooltip md-direction="botton">Help</md-tooltip>
            <md-icon md-font-set="material-icons" class="ee-icon ee-icon--accent" ng-click="chart.showHelp($event)"> help_outline </md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Save">
            <md-tooltip md-direction="botton">Save</md-tooltip>
            <md-icon md-font-set="material-icons" class="ee-icon ee-icon--accent" ng-click="chart.save()"> save </md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-divider></md-divider>
      <md-content class="ee-content" layout-padding layout="row">
        <div flex>
          <form name="ChartCreationForm">
            <md-input-container class="md-block">
              <label>Title</label>
              <input required name="chartTitle" ng-model="chart.settings.options.title">
              <div ng-messages="ChartCreationForm.chartTitle.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Description</label>
              <input name="chartDescription" ng-model="chart.settings.description">
            </md-input-container>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>H-axis title</label>
                <input name="chartHAxisTitle" ng-model="chart.settings.options.hAxis.title">
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label>V-axis title</label>
                <input name="chartVAxisTitle" ng-model="chart.settings.options.vAxis.title">
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label>Friendly url</label>
                <input name="chartFriendlyUrl" ng-model="chart.settings.friendlyUrl">
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container flex>
                <label>Percent on V-axis</label>
                <md-select ng-model="chart.settings.options.vAxis.format">
                  <md-option ng-value="option.value" ng-repeat="option in chart.formatOptions">{{option.label}}</md-option>
                </md-select>
              </md-input-container>
              <md-input-container flex>
                <label>Percent on H-axis</label>
                <md-select ng-model="chart.settings.options.hAxis.format">
                  <md-option ng-value="option.value" ng-repeat="option in chart.formatOptions">{{option.label}}</md-option>
                </md-select>
              </md-input-container>
              <md-input-container flex ng-if="chart.chartType === 'ComboChart'">
                <label>Combo Lines: Default 1</label>
                <input name="chartCombolines" ng-model="chart.settings.options.combolines">
              </md-input-container>
              <md-input-container flex>
                <label>Stacked or not</label>
                <md-select ng-model="chart.settings.options.isStacked">
                  <md-option ng-value="option.value" ng-repeat="option in chart.stackOptions">{{option.label}}</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>chartArea.left</label>
                <input name="chartAreaLeft" ng-model="chart.settings.options.chartArea.left">
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label>chartArea.width</label>
                <input name="chartAreaWidth" ng-model="chart.settings.options.chartArea.width">
              </md-input-container>
            </div>
          </form>
        </div>
      </md-content>
    </md-card>
  </div>
</div>
