<div class="ee-view">
  <md-content class="ee-view__content-container ee-content--transparent">
    <md-card class="ee-layout--no-margin">
      <md-toolbar class="ee-toolbar">
        <div class="md-toolbar-tools">
          <h2 class="ee-text-black-primary">{{ctrl.chart.options.title}}</h2>
          <span flex></span>
          <span ng-hide="ctrl.chart.chartType ==='ImageChart'">
            <md-tooltip md-direction="botton">Auto Reload</md-tooltip>
            <md-switch class="ee-auto-refresh-label ee-switch" ng-class="{ 'ee-auto-refresh-disabled': !ctrl.isAutoReloadSwitchOn }" aria-label="Auto Reload" ng-model="ctrl.isAutoReloadSwitchOn" ng-change="ctrl.onAutoReloadSwitchChange(ctrl.isAutoReloadSwitchOn)">auto</md-switch>
          </span>
          <md-button class="md-icon-button" aria-label="Reload" ng-hide="ctrl.chart.chartType ==='ImageChart'">
            <md-tooltip md-direction="botton">Reload</md-tooltip>
            <md-icon md-font-set="material-icons" class="ee-icon ee-icon--accent" ng-click="ctrl.loadChart(ctrl.id)"> refresh </md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Save as image" ng-hide="ctrl.chart.chartType ==='ImageChart'">
            <md-tooltip md-direction="botton">Save as image</md-tooltip>
            <md-icon md-font-set="material-icons" class="ee-icon ee-icon--accent" ng-click="ctrl.saveAsImage(ctrl.id)"> image </md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Download data" ng-href="{{ctrl.downloadLink}}" ng-if="ctrl.chart.chartType !== 'ImageChart'">
            <md-tooltip md-direction="botton">Download data</md-tooltip>
            <md-icon md-font-set="material-icons" class="ee-icon ee-icon--accent"> file_download </md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Share" ng-click="ctrl.showShare(ctrl.chart.options.title)">
            <md-tooltip md-direction="botton">Share</md-tooltip>
            <md-icon md-font-set="material-icons" class="ee-icon ee-icon--accent"> shared </md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-divider></md-divider>
      <md-card-content>
        <ee-google-chart
            class="ee-google-chart"
            ng-if="ctrl.chart.chartType!='ImageChart'"
            chart-id="{{ctrl.chart._id}}"
            type="{{ctrl.chart.chartType}}"
            datatable="ctrl.filteredDatatable"
            options="ctrl.chart.options"></ee-google-chart>
        <div class="ee-image-chart-container" ng-if="ctrl.chart.chartType=='ImageChart'">
          <img ng-src="{{ctrl.chart.imageUrl}}" />
        </div>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-content ng-if="ctrl.chart.chartType !== 'ImageChart'">
        <a class="md-primary" href ng-click="ctrl.showFilter = !ctrl.showFilter">
          <div layout="row" layout-align="space-around center">
            <h2 class="md-subhead ee-icon--accent" flex="none">Filters</h2>
            <span flex></span>
            <md-button flex="none" class="md-icon-button" aria-label="More">
              <md-icon class="ee-icon--accent" ng-bind="ctrl.showFilter ? 'expand_less' : 'expand_more'"></md-icon>
            </md-button>
          </div>
        </a>
        <div ng-show="ctrl.showFilter">
          <h2>Series</h2>
          <div layout="row" layout-wrap layout-margin layout-align="start">
            <md-checkbox ng-if="$index > 0" flex="nogrow" ng-repeat="col in ctrl.chart.datatable.cols" ng-checked="!col.isHide" ng-click="col.isHide = !col.isHide">{{col.label}}</md-checkbox>
          </div>
          <h2>Category</h2>
          <div layout="row" layout-wrap layout-margin layout-align="start">
            <md-checkbox flex="nogrow" ng-repeat="row in ctrl.chart.datatable.rows" ng-checked="!row.isHide" ng-click="row.isHide = !row.isHide">{{row.c[0].v}}</md-checkbox>
          </div>
          <md-button class="md-raised ee-button--raised" ng-click="ctrl.applyFilter(ctrl.chart.datatable)">Apply</md-button>
        </div>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-footer>
        <p>
          <i class="ee-layout--padding-right">{{ctrl.chart.updatedAt | date: 'medium'}}</i>
        </p>
        <p>{{ctrl.chart.description}}</p>
      </md-card-footer>
    </md-card>
  </md-content>
</div>
