<div class="ee-chart-view">
  <div class="ee-chart-wrapper">
   <md-card>
  <md-content layout-padding="" style="width:20%">
      <form name="ChartSetCreationForm">

        <md-input-container class="md-block">
          <label>Title</label>
          <input required="" name="clientName" ng-model="chartset.settings.title">
          <div ng-messages="ChartSetCreationForm.clientName.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Description</label>
          <input required="" name="clientName" ng-model="chartset.settings.description">
          <div ng-messages="ChartSetCreationForm.clientName.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Friendly URL</label>
          <input required="" name="clientName" ng-model="chartset.settings.friendlyUrl">
          <div ng-messages="ChartSetCreationForm.clientName.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

      </form>
  </md-content>

  <md-chips ng-model="chartset.settings.charts" md-contact-image="image" placeholder="Search to add"></md-chips>
  <div>
    <md-list class="fixedRows" style="margin-bottom:10px">
      <md-subheader>Charts</md-subheader>
      <md-list-item class="md-2-line" style="box-sizing: border-box;float:left;" ng-repeat="chart in chartset.chartList">
        <div class="md-list-item-text" style="margin:20px">
          <img ng-src="images/Chart.png" class="md-avatar" alt="">
          <div class="md-list-item-text compact">
            <h3>{{chart.options.title}} <button ng-click="chartset.addToChartSet(chart)">+</button> </h3>  
            <p>description...</p>
         </div> 
        </div>
      </md-list-item>
    </md-list>
  </div>
  <div style="clear:both">
    <md-button class="md-primary"ng-click="chartset.save()">Save</md-button>
  </div>
  </md-card>
  </div>
</div>
