<div id="canv" class="ee-view">
  <div class="ee-view-header-container">
    <div class="ee-view-header">
      <div class="ee-view-header-content" layout="row" layout-align="start center">
        <h2 class="ee-text-black-primary">{{chartset.settings.title}}</h2>
        <span flex></span>
        <span>
          <md-tooltip md-direction="botton">Auto Refresh</md-tooltip>
          <md-switch class="ee-auto-refresh-label" ng-class="{ 'ee-auto-refresh-disabled': !chart.autoRefresh }" aria-label="Auto Refresh" ng-model="chartset.autoRefresh" ng-change="chartset.autoChange()">auto</md-switch>
        </span>
        <md-button class="md-icon-button" aria-label="Refresh">
          <md-tooltip md-direction="botton">Refresh</md-tooltip>
          <md-icon md-font-set="material-icons" class="ee-icon" ng-click="chartset.refreshChartSet()"> refresh </md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Switch to column view" ng-if="chartset.viewMode === 'list'">
          <md-tooltip md-direction="botton">Switch to column view</md-tooltip>
          <md-icon md-font-set="material-icons" class="ee-icon" ng-click="chartset.switchViewMode('column')"> view_column </md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Switch to list view" ng-if="chartset.viewMode === 'column'">
          <md-tooltip md-direction="botton">Switch to list view</md-tooltip>
          <md-icon md-font-set="material-icons" class="ee-icon" ng-click="chartset.switchViewMode('list')"> list </md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Save as pdf">
          <md-tooltip md-direction="botton">Save as pdf</md-tooltip>
          <md-icon md-font-set="material-icons" class="ee-icon" ng-click="chartset.Save2PDF(chartset)"> picture_as_pdf </md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Settings" ng-click="chartset.showShare()">
          <md-tooltip md-direction="botton">Share</md-tooltip>
          <md-icon md-font-set="material-icons" class="ee-icon"> shared </md-icon>
        </md-button>
      </div>
      <div class="ee-view-header-content" layout="row" layout-align="start center">
        <md-content flex>
          <p class="ee-chart-status">
            <md-icon md-font-set="material-icons"> access_time </md-icon> <span>{{chartset.settings.lastUpdateTimestamp | date: 'medium'}}</span></p>
          <p>{{chartset.settings.description}}</p>
        </md-content>
      </div>
    </div>
  </div>
  <div class="ee-wrapper" ng-class="{ 'ee-chart-set-column-view': chartset.viewMode === 'column' }">
    <md-content class="ee-chart-set-charts-container" layout="row" layout-wrap layout-align="start stretch">
      <div class="ee-chart-set-chart-wrapper" flex="{{chartset.viewMode === 'list' ? 100 : 50}}" ng-repeat="chart in chartset.charDataArray">
        <md-card>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2 class="ee-text-black-primary">
                  <a href="#/charts/{{chart.friendlyUrl || chart._id}}"  target="_blank">{{chart.options.title}}</a>
                </h2>
              <span flex></span>
              <!-- <md-button class="md-icon-button" aria-label="Fullscreen Mode">
                  <md-tooltip md-direction="botton">Fullscreen</md-tooltip>
                  <md-icon md-font-set="material-icons" class="ee-icon" ng-click=""> fullscreen </md-icon>
                </md-button> -->
              <md-menu ng-hide="chart.chartType === 'ImageChart'">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                  <md-icon md-font-set="material-icons" class="ee-icon"> more_vert </md-icon>
                </md-button>
                <md-menu-content width="3">
                  <md-menu-item>
                    <md-button ng-click="chartset.SaveImageOrPDF(0,chart)">
                      <md-icon md-font-set="material-icons" class="ee-icon" ng-click="chartset.SaveImageOrPDF(0,chart)"> image </md-icon> <span md-menu-align-target>Save as picture</span></md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="chartset.SaveImageOrPDF(1,chart)">
                      <md-icon md-font-set="material-icons" class="ee-icon" ng-click="chartset.SaveImageOrPDF(1,chart)"> picture_as_pdf </md-icon> <span md-menu-align-target>Save as pdf</span></md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </md-toolbar>
          <md-divider></md-divider>
          <ee-google-chart ng-if="chart.chartType!='ImageChart'" chart-type="chart.chartType" chart-options="chart.options" chart-data-table="chart.datatable">
          </ee-google-chart>
          <div ng-if="chart.chartType=='ImageChart'" class="ee-image-chart-container">
            <img crossOrigin="anonymous" id="{{chart.options.title}}" ng-src="{{chart.image_file_name ? chartset.imageChartBaseUrl + chart.image_file_name : ''}}" />
          </div>
          <md-divider></md-divider>
          <md-content flex="" layout-padding="">
            <p class="ee-chart-status">
              <md-icon md-font-set="material-icons" class="ee-icon"> access_time </md-icon> <span>{{chart.lastUpdateTimestamp | date: 'medium'}}</span></p>
            <p>
              <md-icon md-font-set="material-icons" class="ee-icon"> description </md-icon>
              {{chart.description}}
            </p>
          </md-content>
        </md-card>
      </div>
    </md-content>
  </div>
</div>
