<div>
  <section>
    Title: <input type="text" ng-model="chartset.settings.title">
    <br>
    Description: <input type="text" ng-model="chartset.settings.description">
    <br>
    Friendly URL: <input type="text" ng-model="chartset.settings.friendlyUrl">
  </section>
  <section>
    Charts:
    <div>
      <p ng-repeat="chartId in chartset.settings.charts">
        {{chartId}} <button ng-click="chartset.deleteChart(chartId)">Delete</button>
      </p>
    </div>
    <h3>Chart list</h3>
    <ul>
      <li ng-repeat="chart in chartset.chartList">
        {{chart.options.title}} <button ng-click="chartset.addToChartSet(chart)">Add to set</button>
      </li>
    </ul>
  </section>
  <section>
    <button ng-click="chartset.updateChartSetById()">Save</button>
    <md-button class="md-primary md-raised" ng-click="chartset.showConfirm($event)" >
      DELETE IT
    </md-button>
  </section>
</div>
  <div style="visibility: hidden">
    <div class="md-dialog-container" id="myDialog">
      <md-dialog layout-padding>
        <h2>Pre-Rendered Dialog</h2>
        <p>
          This is a pre-rendered dialog, which means that <code>$mdDialog</code> doesn't compile its
          template on each opening.
          <br/><br/>
          The Dialog Element is a static element in the DOM, which is just visually hidden.<br/>
          Once the dialog opens, we just fetch the element from the DOM into our dialog and upon close
          we restore the element back into its old DOM position.
        </p>
      </md-dialog>
    </div>
  </div>
