<div class="ee-home-view">
  <div class="ee-hero-wrapper">
    <div class="ee-hero">
      <h1 class="ee-headline">
        <p class="ee-text-black-primary">Create Charts &amp; Chart Sets</p>
        <p class="sub-title">Better Data Visualization</p>
      </h1>
      <ul class="list ee-hero-list">
        <li><md-icon md-font-set="material-icons" class="ee-icon"> done </md-icon><span>Make your own charts: Line Chart, Bar Chart or Column Chart</span></li>
        <li><md-icon md-font-set="material-icons" class="ee-icon"> done </md-icon><span>Collect your charts into a chart set</span></li>
        <li><md-icon md-font-set="material-icons" class="ee-icon"> done </md-icon><span>Shart charts and chart sets with others</span></li>
      </ul>
      <!-- <md-button class="md-raised ee-button"><md-icon md-font-set="material-icons" class="ee-icon"> assessment </md-icon> <span>Get Started</span></md-button> -->
    </div>
  </div>
  <div class="sub-nav-wrapper">
    <div class="sub-nav" layout="row">
      <div class="sub-nav-item" flex="25">
        <md-card>
          <md-card-title>
            <md-card-title-media>
              <div class="md-media-sm card-media">
                <img src="images/Chart.png" alt="">
              </div>
            </md-card-title-media>
            <md-card-title-text>
              <span class="md-headline ee-text-black-primary">Charts</span>
              <span class="md-subhead">View all the charts you've created.</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
          <md-button ui-sref="charts"><span>View Charts</span></md-button>
          </md-card-actions>
        </md-card>
      </div>

      <div class="sub-nav-item" flex="25">
        <md-card>
          <md-card-title>
            <md-card-title-media>
              <div class="md-media-sm card-media">
                <img src="images/CreateNewChart.png" alt="">
              </div>
            </md-card-title-media>
            <md-card-title-text>
              <span class="md-headline ee-text-black-primary">New Chart</span>
              <span class="md-subhead">Create a new chart.</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button ui-sref="createChart"><span>Create Chart</span></md-button>
          </md-card-actions>
        </md-card>
      </div>

      <div class="sub-nav-item" flex="25">
        <md-card>
          <md-card-title>
            <md-card-title-media>
              <div class="md-media-sm card-media">
                <img src="images/ChartCategory.png" alt="">
              </div>
            </md-card-title-media>
            <md-card-title-text>
              <span class="md-headline ee-text-black-primary">Chart Sets</span>
              <span class="md-subhead">View all the chart sets you've created.</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button ui-sref="chartSets"><span>View Chart Sets</span></md-button>
          </md-card-actions>
        </md-card>
      </div>

      <div class="sub-nav-item" flex="25">
        <md-card>
          <md-card-title>
            <md-card-title-media>
              <div class="md-media-sm card-media">
                <img src="images/CreateNewChartCategory.png" alt="">
              </div>
            </md-card-title-media>
            <md-card-title-text>
              <span class="md-headline ee-text-black-primary">New Chart Set</span>
              <span class="md-subhead">Create a new chart set.</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button ui-sref="createChartSet"><span>Create Chart Set</span></md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>

  <div class="dev" layout="row">
    <div class="dev-image" flex="50">
      <img src="images/develop.jpeg" alt="Develop">
    </div>
    <div class="dev-text" flex="50">
      <h2 class="md-headline">Want to Develop?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, rerum, nesciunt! Praesentium dicta ipsum commodi reiciendis placeat non quia tenetur unde, minus. Ut necessitatibus maiores fugit consequuntur veritatis amet, quibusdam.</p>
      <ul class="list">
        <li><md-icon md-font-set="material-icons" class="ee-icon"> done </md-icon><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
        <li><md-icon md-font-set="material-icons" class="ee-icon"> done </md-icon><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, officia.</span></li>
        <li><md-icon md-font-set="material-icons" class="ee-icon"> done </md-icon><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
      </ul>
      <md-button class="md-raised ee-button"><md-icon md-font-set="material-icons" class="ee-icon"> code </md-icon><span>Learn More</span></md-button>
    </div>
  </div>
</div>
