<div class="ee-home-view">
  <div class="ee-hero" hide-xs>
    <h1 class="ee-hero__headline">
        <p class="ee-hero__headline__title">Create Charts &amp; Chart Sets</p>
        <p class="ee-hero__headline__sub-title">Better Data Visualization</p>
      </h1>
    <ul class="ee-hero__list">
      <li>
        <md-icon md-font-set="material-icons" class="ee-icon ee-icon--accent"> done </md-icon><span>Make your own charts: Line Chart, Bar Chart or Column Chart</span></li>
      <li>
        <md-icon md-font-set="material-icons" class="ee-icon ee-icon--accent"> done </md-icon><span>Collect your charts into a chart set</span></li>
      <li>
        <md-icon md-font-set="material-icons" class="ee-icon ee-icon--accent"> done </md-icon><span>Share charts and chart sets with others</span></li>
    </ul>
  </div>
  <div class="ee-sub-nav-wrapper">
    <div class="ee-sub-nav" layout="row" layout-wrap layout-padding>
      <div class="ee-sub-nav__item" flex="50" flex-xs="100" flex-gt-md="25">
        <md-card class="ee-layout--no-margin" layout-fill>
          <md-card-title>
            <md-card-title-media>
              <div class="md-media-sm card-media">
                <img src="images/Chart.png" alt="View Charts">
              </div>
            </md-card-title-media>
            <md-card-title-text>
              <span class="md-headline">Charts</span>
              <span class="md-subhead">View all the charts you've created.</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="ee-button--accent" ui-sref="charts"><span>View Charts</span></md-button>
          </md-card-actions>
        </md-card>
      </div>
      <div class="ee-sub-nav__item" flex="50" flex-xs="100" flex-gt-md="25">
        <md-card class="ee-layout--no-margin" layout-fill>
          <md-card-title>
            <md-card-title-media>
              <div class="md-media-sm card-media">
                <img src="images/CreateNewChart.png" alt="New Chart">
              </div>
            </md-card-title-media>
            <md-card-title-text>
              <span class="md-headline">New Chart</span>
              <span class="md-subhead">Create a new chart.</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="ee-button--accent" ui-sref="chartCreation"><span>Create Chart</span></md-button>
          </md-card-actions>
        </md-card>
      </div>
      <div class="ee-sub-nav__item" flex="50" flex-xs="100" flex-gt-md="25">
        <md-card class="ee-layout--no-margin" layout-fill>
          <md-card-title>
            <md-card-title-media>
              <div class="md-media-sm card-media">
                <img src="images/ChartCategory.png" alt="View Chart Sets">
              </div>
            </md-card-title-media>
            <md-card-title-text>
              <span class="md-headline">Chart Sets</span>
              <span class="md-subhead">View all the chart sets you've created.</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="ee-button--accent" ui-sref="chartSets"><span>View Chart Sets</span></md-button>
          </md-card-actions>
        </md-card>
      </div>
      <div class="ee-sub-nav__item" flex="50" flex-xs="100" flex-gt-md="25">
        <md-card class="ee-layout--no-margin" layout-fill>
          <md-card-title>
            <md-card-title-media>
              <div class="md-media-sm card-media">
                <img src="images/CreateNewChartCategory.png" alt="New Chart Set">
              </div>
            </md-card-title-media>
            <md-card-title-text>
              <span class="md-headline">New Chart Set</span>
              <span class="md-subhead">Create a new chart set.</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="ee-button--accent" ui-sref="createChartSet"><span>Create Chart Set</span></md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
  <div class="ee-dev" layout="row" layout-padding>
    <div class="ee-dev__image" flex="50" hide-xs>
      <img src="images/develop.jpeg" alt="Develop" layout-fill>
    </div>
    <div class="ee-dev__text" flex="50" flex-xs="100">
      <h2 class="md-headline ee-dev__text__header">Want to Develop?</h2>
      <p>EagleEye Platform provides a set of RESTFul APIs. You could make use of them to handle the data. Please contact EagleEye development team for help.</p>
      <ul class="ee-dev__text__list">
        <li>
          <md-icon md-font-set="material-icons" class="ee-icon ee-icon--accent"> done </md-icon><span>RESTFul APIs</span></li>
        <li>
          <md-icon md-font-set="material-icons" class="ee-icon ee-icon--accent"> done </md-icon><span>Google Visualization APIs</span></li>
        <li>
          <md-icon md-font-set="material-icons" class="ee-icon ee-icon--accent"> done </md-icon><span>Good Documents</span></li>
      </ul>
      <md-button class="md-raised ee-button--raised" ng-click="home.goToDevelop()">Read More</md-button>
    </div>
  </div>
</div>
