<div class="ee-view">
  <md-content class="ee-view__content-container ee-content--transparent">
    <div md-whiteframe="1" class="ee-content">
      <md-toolbar class="ee-toolbar">
        <div class="md-toolbar-tools">
          <h3 class="ee-text-black-primary">Create job</h3>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Save">
            <md-tooltip md-direction="botton">Save</md-tooltip>
            <md-icon md-font-set="material-icons" class="ee-icon ee-icon--accent" ng-click="ctrl.save(ctrl.job)"> save </md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-divider></md-divider>
      <div layout-padding>
        <form name="JobCreationForm">
          <div layout="row">
            <md-input-container flex="100">
              <label>Name</label>
              <input required name="jobName" ng-model="ctrl.job.name">
              <div ng-messages="JobCreationForm.jobName.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container flex="30">
              <label>Expression (Schedule Time)</label>
              <md-select required name="jobExpression" ng-model="ctrl.job.expression">
                <md-option ng-value="expressionOption.value" ng-repeat="expressionOption in ctrl.expressionOptions">
                  {{expressionOption.label}}
                </md-option>
              </md-select>
              <div ng-messages="JobCreationForm.jobCommand.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
            <md-input-container flex="70">
              <label>Command</label>
              <input required name="jobCommand" ng-model="ctrl.job.command">
              <div ng-messages="JobCreationForm.jobCommand.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
          </div>
          <div layout="row" ng-show="ctrl.job.expression === 'custom'">
            <md-input-container flex="20">
              <label>Minute</label>
              <input ng-model="ctrl.customExpression.minute">
              <div class="ee-input-hint-left">(0 - 59)</div>
            </md-input-container>
            <md-input-container flex="20">
              <label>Hour</label>
              <input ng-model="ctrl.customExpression.hour">
              <div class="ee-input-hint-left">(0 - 23)</div>
            </md-input-container>
            <md-input-container flex="20">
              <label>Day of Month</label>
              <input ng-model="ctrl.customExpression.dayOfMonth">
              <div class="ee-input-hint-left">(1 - 31)</div>
            </md-input-container>
            <md-input-container flex="20">
              <label>Month</label>
              <input ng-model="ctrl.customExpression.month">
              <div class="ee-input-hint-left">(1 - 12)</div>
            </md-input-container>
            <md-input-container flex="20">
              <label>Day of Week</label>
              <input ng-model="ctrl.customExpression.dayOfWeek">
              <div class="ee-input-hint-left">(0 or 7 is Sun)</div>
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container flex="100">
              <md-checkbox ng-model="ctrl.job.enabled" aria-label="Job Enabled">
                Enable Job
              </md-checkbox>
            </md-input-container>
          </div>
        </form>
      </div>
    </div>
  </md-content>
</div>
