<div class="ee-view ee-job-view">
  <div class="ee-view__content-container">
    <div layout="row">
      <div flex="20">
        <div>
          <div class="ee-content ee-job-view__statistics" md-whiteframe="1" layout-padding>
            <p class="ee-job-view__statistics__number">256</p>
            <p class="ee-job-view__statistics__text">TOTAL JOBS</p>
          </div>
          <div layout-margin></div>
          <div class="ee-content ee-job-view__statistics" md-whiteframe="1" layout-padding>
            <p class="ee-job-view__statistics__number">16</p>
            <p class="ee-job-view__statistics__text">FAILED JOBS</p>
          </div>
        </div>
      </div>
      <div flex="5"></div>
      <div flex="75">
        <div class="ee-content" md-whiteframe="1">
          <md-toolbar class="ee-toolbar">
            <div class="md-toolbar-tools">
              <h2 class="ee-text-black-primary">Current Jobs</h2>
              <span flex></span>
              <i class="ee-text-black-secondary ee-job-view__timestamp">Last updated at: {{ctrl.lastUpdatedAt | date: 'medium'}}</i>
              <md-button class="md-icon-button" aria-label="Create a new job" ng-click="ctrl.createJob()">
                <md-tooltip md-direction="botton">Create a new job</md-tooltip>
                <md-icon md-font-set="material-icons" class="ee-icon ee-icon--accent"> create </md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <md-divider></md-divider>
          <div class="ee-list">
            <div class="ee-list__item" ng-repeat="job in ctrl.jobs track by job._id">
              <a ui-sref="job({ id: job._id })">
                <div class="ee-list__item__content" layout="row" layout-align="start center">
                  <div class="ee-list__item__content__col-1 ee-list__item__index ee-text-black-primary" flex="none">
                    {{$index + 1}}
                  </div>
                  <div class="ee-list__item__content__col-2" flex layout="column" layout-align="space-between start">
                    <div class="ee-list__item__content__col-2__row-1">
                      <h3 class="ee-list__item__title ee-text-black-primary">{{job.name}}</h3>
                    </div>
                    <div class="ee-list__item__content__col-2__row-2 ee-text-black-secondary" ng-show="job.status">
                      <p>{{job.status}}</p>
                    </div>
                  </div>
                  <div flex="none">
                    <md-toolbar class="ee-toolbar ee-layout--transparent">
                      <div class="md-toolbar-tools ee-layout--no-padding">
                        <md-menu>
                          <md-button aria-label="Tools menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            <md-icon md-font-set="material-icons" class="ee-icon ee-icon--accent"> more_vert </md-icon>
                          </md-button>
                          <md-menu-content width="3">
                            <md-menu-item>
                              <md-button>
                                <md-icon md-font-set="material-icons" class="ee-icon ee-icon--accent"> refresh </md-icon> <span md-menu-align-target>Restart Job</span></md-button>
                            </md-menu-item>
                          </md-menu-content>
                        </md-menu>
                      </div>
                    </md-toolbar>
                  </div>
                </div>
              </a>
              <md-divider ng-hide="$last"></md-divider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
